<section class="product">
    <div class="p-heading">
        <h3>Trendy <font>Arri</font>vals</h3>
    </div>
    <div class="product-container">
        <div class="p-box">
            <img alt="1" src="images/{{primary1}}" />
            <p>{{ name }} </p>
            <a class="price" href="#">₹{{ price }}</a>
            <a class="buy-btn" href="#">Add To Cart</a>
        </div>

        <div class="p-box">
            <img alt="2" src="images/{{ primary2 }}" />

            <p>{{ name1 }}</p>

            <a class="price" href="#">₹{{ price1 }}</a>

            <a class="buy-btn" href="#">Add To Cart</a>
        </div>

        <div class="p-box">
            <img alt="3" src="images/{{ primary3 }}" />

            <p>{{ name2 }}</p>

            <a class="price" href="#">₹{{ price2 }}</a>

            <a class="buy-btn" href="#">Add To Cart</a>
        </div>

        <div class="p-box">
            <img alt="4" src="images/{{ primary4 }}" />

            <p>{{ name3 }}</p>

            <a class="price" href="#">₹{{ price3 }}</a>

            <a class="buy-btn" href="#">Add To Cart</a>
        </div>

        <div class="p-box">
            <img alt="5" src="images/{{ primary5 }}" />

            <p>{{ name4 }}</p>

            <a class="price" href="#">₹{{ price4 }}</a>

            <a class="buy-btn" href="#">Add To Cart</a>
        </div>

        <div class="p-box">
            <img alt="6" src="images/{{ primary6 }}" />

            <p>{{ name5 }}</p>

            <a class="price" href="#">₹{{ price5 }}</a>

            <a class="buy-btn" href="#">Add To Cart</a>
        </div>
    </div>
</section>